@charset "UTF-8";

@font-face {
    font-family: 'Emberly';
    src: url(../fontes/Emberly-Black.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/*Modificações Gerais*/

/* #383F51
#DDDBF1
#3C4F76
#D1BEB0
#AB9F9D */
/* #0D152B */
/* #B98741 */
/* #033A7F */

:root {
    --cor0: #ebe5c5;
    --cor1: #383F51;
    --cor2: #DDDBF1;
    --cor3: #0D152B;
    --cor4: #ebcaa1;
    --cor5: #AB9F9D;
    --cor6: #B98741;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
}

header {
    background-color: var(--cor3);

}

header h1 {
    color: var(--cor6);
    font-family: 'Emberly', sans-serif;
    text-align: center;
    font-size: 4.5em;
    padding: 25px;
    
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.285);

}

span#burguer{
    display: block;
    text-align: center;
    background-color: var(--cor3);
    padding: 8px;
    color: white;
}

span#burguer:hover{
    background-color: #1a264c;
    cursor: pointer;
}

menu {
    display: block;
    box-shadow:  8px 8px 8px rgba(0, 0, 0, 0.158);
}

menu ul {
    list-style-type: none;

}

menu a {
    font-family: 'Emberly', sans-serif;
    display: block;
    color: var(--cor6);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--cor3);
    font-weight: bold;
    border-top: 1.3px solid black;
}

menu a:hover {
    background-color: #1a264c;
}

main {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    width: 90vw;
    box-shadow: 5px 9px 12px rgba(0, 0, 0, 0.196);
}

article h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 30px;
    font-size: 2em;
}

article p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}

div.imagem_modelo {
    text-align: center;
}

footer p {
    margin-top: 10px;
    padding: 12px;
    text-align: center;
    background-color: var(--cor3);
    color: var(--cor6);
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: var(--cor6);
}